src/billing-api/src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <ws:consumer-config name="Web_Service_Consumer" service="BillImplServiceService" port="BillImplServicePort" serviceAddress="http://localhost:8080/billingService/Bill" wsdlLocation="http://localhost:8080/billingService/Bill?wsdl" doc:name="Web Service Consumer"/>
    <jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/processBill:api-config">
        <dw:transform-message doc:name="Build SOAP Request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://ws.billingService/
---
{
	ns0#process: {
		Bill: {
			id: payload.id as :number,
			clientName: payload.clientName,
			clientLastName: payload.clientLastName,
			clientAddress: payload.clientAddress,
			clientPhone: payload.clientPhone,
			amount: payload.amount,
			currency: payload.currency
		}
	}
}]]></dw:set-payload>
            <dw:set-variable variableName="bill"><![CDATA[%dw 1.0
%output application/java
---
{
	id : payload.id
}]]></dw:set-variable>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" doc:name="Billing System WS" operation="process"/>
        <dw:transform-message doc:name="Transform SOAP Response to JAVA">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://ws.billingService/
---
{
	Status: payload.ns0#processResponse.return.statusCode,
	Message: payload.ns0#processResponse.return.statusMessage
}]]></dw:set-payload>
        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[payload.Status==&quot;Success&quot;]">
                <async doc:name="Async">
                    <flow-ref name="successFlow" doc:name="Call successFlow"/>
                </async>
            </when>
            <otherwise>
                <set-property propertyName="http.status" value="#[202]" doc:name="Set Status Code to 202"/> <!-- It is not OK, but it is not failed either, it has been accepted for reprocessing -->
                <async doc:name="Async">
                    <flow-ref name="reprocessingFlow" doc:name="Call reprocessingFlow"/>
                </async>
            </otherwise>
        </choice>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <dw:transform-message doc:name="Build Error Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	Status: "Error",
	Message: "There was an error processing the record with ID: " + flowVars.bill.id
}]]></dw:set-payload>
            </dw:transform-message>
        </catch-exception-strategy>
    </flow>
    <flow name="successFlow" processingStrategy="synchronous">
        <dw:transform-message doc:name="Transform to JSON">
            <dw:input-payload doc:sample="sample_data/map.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <jms:outbound-endpoint topic="billing.processingResults" connector-ref="Active_MQ" mimeType="application/json" doc:name="Processing Results Topic">
            <xa-transaction action="NONE"/>
        </jms:outbound-endpoint>
    </flow>
    <flow name="reprocessingFlow" processingStrategy="synchronous">
        <dw:transform-message doc:name="Transform to JSON">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	Status: payload.Status,
	Message: payload.Message,
	ReprocessingID: flowVars.bill.id
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Convert to String"/>
        <jms:outbound-endpoint queue="billing.reprocessing" connector-ref="Active_MQ" mimeType="application/json" doc:name="Reprocessing Queue">
            <xa-transaction action="NONE"/>
        </jms:outbound-endpoint>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
